<!DOCTYPE html>
<html>
<head>
	<title>QR-Code scannen</title>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
</head>
<body>
	<h1>QR-Code scannen</h1>
	<p>Richten Sie Ihre Kamera auf den QR-Code und drücken Sie die Taste, um den Code zu scannen.</p>
	<button id="scan-button" v-on:click="scanQR">Scannen</button>
	<div id="app">
		<p v-if="customerInfo">Kundendaten:</p>
		<ul v-if="customerInfo">
			<li>{{ customerInfo.first_name }}</li>
			<li>{{ customerInfo.last_name }}</li>
			<li>{{ customerInfo.address }}</li>
		</ul>
		<p v-if="noInfo">Keine Informationen gefunden.</p>
	</div>
	<script>
		new Vue({
			el: '#app',
			data: {
				customerInfo: null,
				noInfo: false
			},
			methods: {
				scanQR: function() {
					axios.get('/scan_qr_action')
						.then(response => {
							if (response.data.customer_info) {
								this.customerInfo = response.data.customer_info;
								this.noInfo = false;
							} else {
								this.customerInfo = null;
								this.noInfo = true;
							}
						})
						.catch(error => console.log(error));
				}
			}
		})
	</script>
</body>
</html>